@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewMembers</title>
    @Html.Partial("PartialPage")
    <link rel="shortcut icon" href="~/Content/images/49.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body style="font-family:Algerian ;color:white;overflow-x:hidden ;background-image:url('/Content/images/black.jpg');background-repeat:no-repeat;background-size:cover;">
    <div class="container-fluid">

        @Html.Partial("AdminPartialHeader")

        <h2>List of all Members <br /> <br /> </h2>

        <div class="table-responsive">
            <table class="table" style="background:#5499C7;padding:10px;width:95%;border-radius:10px;margin-left:30px">

                <tr>
                    <td style="padding-left:10px"><br />&nbsp; ID <br /><br /></td>
                    <td><br />&nbsp; Name <br /><br /></td>
                    <td><br />&nbsp; E_mail <br /><br /></td>
                    <td><br />&nbsp; Subject <br /><br /></td>
                    <td><br /> &nbsp; Message <br /><br /> </td>
                   


                </tr>

                <tbody>

                    @foreach (var s in Model)
                    {
                        <tr style="border:1px solid black">

                            <td style="padding:10px;padding-left:10px"> @s.user_id</td>
                            <td style="padding:10px"> @s.name</td>
                            <td style="padding:10px"> @s.email</td>
                            <td style="padding:10px"> @s.subject</td>
                            <td style="padding:10px"> @s.message</td>
                           

                            <td>
                                &nbsp; &nbsp; &nbsp; <a href="/admin/Delete1/@s.user_id" style="color:black">   Delete </a>
                                &nbsp; &nbsp; &nbsp;
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <!---->
        <br /><br />
    </div>





    <script src="~/js/bootstrap.js" type="text/javascript"></script>

</body>

</html>
